<footer>
  <footer class="footer">
    <main class="footer-content d-flex-center container">
      <section class="logo-section d-flex-center">
        <a href="/">
          <img
            src="/images/brand/whiteLogo.png"
            class="main-logo d-flex-center"
            alt="Logo of Vehi Go white variant"
        /></a>
      </section>
      <p class="footer--text">
        Doživite slobodu istraživanja Hrvatske s VehiGo-om, vašim pouzdanim
        suputnikom za bezbrižan i nezaboravan najam automobila kroz prekrasne
        krajolike.
      </p>
      <article class="social-logos">
        <a
          href="https://www.instagram.com/p/CrVZjHztHMt/"
          target="_self"
          class="social--link"
          ><ion-icon name="logo-instagram" class="social--icons"></ion-icon
        ></a>
        <a href="https://facebook.com" target="_self" class="social--link"
          ><ion-icon name="logo-facebook" class="social--icons"></ion-icon
        ></a>
        <a href="https://twitter.com" target="_self" class="social--link"
          ><ion-icon name="logo-twitter" class="social--icons"></ion-icon
        ></a>
      </article>
    </main>
    <aside class="footer--aside">
      <nav class="footer--nav">
        <p class="copyright"></p>
        <ul class="footer-list">
          <li>
            <a href="/" class="footer--nav--link">Home</a>
          </li>
          <li>
            <a href="/cars" class="footer--nav--link">Auti</a>
          </li>
          <li>
            <a href="/about" class="footer--nav--link">O nama</a>
          </li>
          <li>
            <a href="/signin" class="footer--nav--link">Prijavi se</a>
          </li>
        </ul>
      </nav>
    </aside>
  </footer>
  <script src="/js/footer.js"></script>
</footer>
