<header class="main--header">
  <section class="hero">
    <nav class="navigation">
      <!-- <div class="search d-flex-center">
        <div class="search-bar">
          <ion-icon name="search-outline" class="search-icon"></ion-icon>
          <input type="text" placeholder="Pretraži..." class="search-input" />
        </div>
      </div> -->

      <section class="logo-section d-flex-center">
        <a href="/">
          <img
            src="/images/brand/whiteLogo.png"
            class="main-logo d-flex-center"
            alt="Logo of Vehi Go white variant"
        /></a>
      </section>

      <div class="menu">
        <ul class="menu-links d-flex-center">
          <li><a href="/" class="menu-item item1 hover">Home</a></li>
          <li><a href="/cars" class="menu-item item2 hover">Auti</a></li>
          <li><a href="/about" class="menu-item item3 hover">O nama</a></li>
          <div class="action--container--nav">
            <% if (customer) { %>
            <div class="dropdown-menu">
              <li>
                <a href="#" class="menu-item dropdown--active"
                  ><%= customer.customer_first_name %></a
                >
              </li>
              <ul class="dropdown">
                <li>
                  <a href="/reservation" class="dropdown--items"
                    >Moje rezervacije</a
                  >
                </li>
                <li><a href="/logout" class="dropdown--items">Odjava</a></li>
              </ul>
            </div>
            <% } else { %>
            <li>
              <a href="/signin" class="menu-item item4 hover">Prijavi se</a>
            </li>
            <% } %>
          </div>
        </ul>
      </div>
    </nav>
  </section>
  <script src="/js/header.js"></script>
</header>
