<header>
    <section class="hero">
        <nav class="navigation">
          <div class="search d-flex-center">
            <div class="search-bar">
                <ion-icon name="search-outline" class="search-icon"></ion-icon>
                <input type="text" placeholder="Pretraži..." class="search-input">
            </div>
          </div>
      
          <section class="logo-section d-flex-center">
            <img src="./images/brand/whiteLogo.png" class="main-logo d-flex-center" alt="Logo of Vehi Go white variant">
          </section>
      
          <div class="menu">
            <ul class="menu-links d-flex-center">
              <li><a href="/" class="menu-item item1">Home</a></li>
              <li><a href="/cars" class="menu-item item2">Auti</a></li>
              <li><a href="/about" class="menu-item item3">O nama</a></li>
              <li><a href="/signin" class="menu-item item4">Sign in</a></li>
            </ul>
          </div>
        </nav> 
      </section>
      <script src="./js/header.js"></script> 
</header>