<header class="main--header">
  <section class="hero">
    <nav class="admin--nav">
      <section class="logo-section d-flex-center">
        <a href="/">
          <img
            src="/images/brand/whiteLogo.png"
            class="main-logo d-flex-center"
            alt="Logo of Vehi Go white variant"
        /></a>
      </section>
    </nav>
  </section>
  <!-- <script src="/js/header.js"></script> -->
</header>
