<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is Vehi Go rent a car made by two studenst of 4th grade of secondary school."
    />

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style/style.css" />
    <link rel="stylesheet" href="./css/style/cars.css" />
    <link rel="stylesheet" href="./css/style/general.css" />
    <link rel="stylesheet" href="./css/queries/queries.css" />
    <link rel="stylesheet" href="./css/style/about.css" />

    <!-- ICON -->
    <link rel="icon" href="./images/brand/favicon.png" />
    <link rel="manifest" href="./images/brand/favicon.png" />
    <link rel="apple-touch-icon" href="./images/brand/favicon.png" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <title>VehiGo | Upoznajete nas bolje!</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <section class="container about--text">
        <p class="subheading">&mdash; O nama &mdash;</p>
        <h1 class="secondary-heading about--heading">Upoznajte se s nama</h1>
        <p class="text--content about--text">
          Dobrodošli na našu rent-a-car stranicu! Pružamo visokokvalitetne
          usluge iznajmljivanja automobila po pristupačnim cijenama. Naš vozni
          park nudi raznolikost vozila, od kompaktnih automobila do prostranih
          SUV-ova. Svi automobili su redovito održavani i čisti. Naša stručna
          ekipa je uvijek dostupna za podršku i pružanje korisnih informacija.
          Nudimo dodatne usluge kao što su prijevoz do zračne luke i prilagođeni
          paketi. Vaše zadovoljstvo je naš prioritet, te stoga težimo pružanju
          nevjerojatnog iskustva i besprijekorne usluge. Rezervirajte vozilo s
          nama i učinite svoja putovanja ugodnima, praktičnima i nezaboravnima.
          Kontaktirajte nas danas!
        </p>
      </section>
      <hr class="hr hr-home" />
      <section class="ceo--section container whitespace d-flex-center">
        <div class="image--ceo">
          <img
            src="./images/brand/ceo.jpg"
            class="ceo--img"
            alt="Image of ceo"
          />
        </div>
        <div class="ceo--content">
          <h1 class="secondary-heading ceo--name">Hrvoje Cuckovic</h1>
          <p class="ceo--text">
            Upoznajte našeg iznimno uspješnog vlasnika! Njegova strast prema
            poslovanju i neumorni rad rezultirali su impresivnim uspjehom. S
            bogatim iskustvom u industriji iznajmljivanja automobila, vlasnik je
            stekao duboko razumijevanje potreba klijenata. Njegova vizija i
            predanost omogućili su mu izgradnju renomirane rent-a-car tvrtke,
            poznate po kvaliteti i pouzdanosti. Svestranost i sposobnost
            prilagodbe tržišnim trendovima doprinose stalnom rastu tvrtke.
            Unatoč uspjehu, vlasnik je skroman i fokusiran na izvrsnost usluge.
            Njegova strast prema inovacijama potiče ga da istražuje nove
            mogućnosti. Njegov uspjeh služi kao inspiracija mnogima u
            industriji. Zahvaljujemo vam na odabiru naše rent-a-car usluge i
            obećavamo vrhunsko iskustvo koje odražava vlasnikovu poslovnu
            filozofiju.
          </p>
        </div>
      </section>
      <section class="contact-us container">
        <div class="heading-contact">
          <p class="subheading">Find us</p>
          <h1 class="contact--heading">Contact us</h1>
        </div>
        <div class="contact-info">
          <div class="info-div">
            <ion-icon name="call-outline" class="contact--icon"></ion-icon>
            <div class="info-text">
              <h1 class="info-heding">Call us</h1>
              <p class="info-desc">
                <a href="tel:+385 99 2959 503">+385 99 2959 503</a>
              </p>
            </div>
          </div>
          <div class="info-div">
            <ion-icon name="mail-outline" class="contact--icon"></ion-icon>
            <div class="info-text">
              <h1 class="info-heding">Email us</h1>
              <p class="info-desc">
                <a href="mailto:contact@vehigo.com">contact@vehigo.com</a>
              </p>
            </div>
          </div>
          <div class="info-div">
            <ion-icon name="location-outline" class="contact--icon"></ion-icon>
            <div class="info-text">
              <h1 class="info-heding">Address</h1>
              <p class="info-desc">Ulica Andrije Hebranga 26, Samobor</p>
            </div>
          </div>
        </div>
        <div class="contact-form">
          <form method="POST">
            <div class="form">
              <input class="name" type="text" name="name" placeholder="Name" />
              <input
                class="email"
                type="email"
                name="email"
                placeholder="Email"
              />
              <input
                class="subject"
                type="text"
                name="subject"
                placeholder="Subject"
              />
              <input
                class="message"
                type="text"
                name="message"
                placeholder="Message"
              />
              <input
                class="submit"
                type="submit"
                name="submit"
                value="Send message"
              />
            </div>
          </form>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="./js/script.js"></script>

    <!-- ICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
