<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is Vehi Go rent a car made by two studenst of 4th grade of secondary school."
    />

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style/style.css" />
    <link rel="stylesheet" href="./css/style/cars.css" />
    <link rel="stylesheet" href="./css/style/general.css" />
    <link rel="stylesheet" href="./css/queries/queries.css" />

    <!-- ICON -->
    <link rel="icon" href="./images/brand/favicon.png" />
    <link rel="manifest" href="./images/brand/favicon.png" />
    <link rel="apple-touch-icon" href="./images/brand/favicon.png" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <title>VehiGo | Započnite prijavu!</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <header class="cars--header">
        <h1 class="secondary-heading">Istražite našu ponudu automobila</h1>
      </header>
      <main class="cars--store">
        <div class="filters">
          <p>Marke</p>
          <ul class="models--cars">
            <li class="model--car car1">
              <input type="checkbox" class="model--checkbox" />Car
            </li>
            <li class="model--car car2">
              <input type="checkbox" class="model--checkbox" />Car
            </li>
            <li class="model--car car3">
              <input type="checkbox" class="model--checkbox" />Car
            </li>
            <li class="model--car car4">
              <input type="checkbox" class="model--checkbox" />Car
            </li>
            <li class="model--car car5">
              <input type="checkbox" class="model--checkbox" />Car
            </li>
          </ul>
        </div>
        <div class="cars--grid"></div>
      </main>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="./js/script.js"></script>

    <!-- ICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
