<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is Vehi Go rent a car made by two studenst of 4th grade of secondary school."
    />

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style/style.css" />
    <link rel="stylesheet" href="./css/style/general.css" />
    <link rel="stylesheet" href="./css/queries/queries.css" />

    <!-- ICON -->
    <link rel="icon" href="./images/brand/favicon.png" />
    <link rel="manifest" href="./images/brand/favicon.png" />
    <link rel="apple-touch-icon" href="./images/brand/favicon.png" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <title>VehiGo | Započnite prijavu!</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <section class="form--section sing-in--form container d-flex-center whitespace">
        <form class="form d-flex-center">

          <h1 class="secondary-heading">Registriraj se</h1>

          <div class="sign-in--content">
            <label for="customer_driver_license_number" class="form--label form--heading">Broj vozacke dozvole:</label>
            <input id="customer_driver_license_number" name="customer_driver_license_number" type="text" onkeypress="allowOnlyNumbersAndBigLetters(event)"  placeholder="Unesite broj vozacke dozvole:" class="form--input"/>
            <!-- DODATI CSS ZA OVOO CUUCKOO -->
            <div class="handle--error--license_number"></div>
          </div>

          <div class="sign-in--content">
            <label for="customer_first_name" class="form--label form--heading">Vase ime:</label>
            <input id="customer_first_name" name="customer_first_name" type="text" onkeypress="allowOnlyLetters(event)" placeholder="Unesite vase ime:" class="form--input"/>
          </div>

          <div class="sign-in--content">
            <label for="customer_last_name" class="form--label form--heading">Vase prezime:</label>
            <input id="customer_last_name" name="customer_last_name" type="text" onkeypress="allowOnlyLetters(event)" placeholder="Unesite vase prezime:" class="form--input"/>
          </div>

          <div class="sign-in--content">
            <label for="customer_home_address" class="form--label form--heading">Vasa adresa:</label>
            <input id="customer_home_address" name="customer_home_address" type="text" placeholder="Unesite vasu adresu:" class="form--input"/>
          </div>

          <div class="sign-in--content">
            <label for="customer_city" class="form--label form--heading">Grad:</label>
            <input id="customer_city" name="customer_city" type="text" onkeypress="allowOnlyLetters(event)" placeholder="Grad:" class="form--input"/>
            <!-- DODATI CSS ZA OVOO CUUCKOO -->
            <div class="handle--error"></div>
          </div>

          <div class="sign-in--content">
            <label for="customer_email" class="form--label form--heading">E - mail:</label>
            <input id="customer_email" name="customer_email" type="email" placeholder="Unesite e-mail adresu:" class="form--input"/>
            <!-- DODATI CSS ZA OVOO CUUCKOO -->
            <div class="handle--error--mail"></div>
          </div>

          <div class="sign-in--content">
            <label for="customer_password" class="form--label form--heading">Lozinka:</label>
            <input id="customer_password" name="customer_password" type="password"  placeholder="********" class="form--input"/>
            <!-- DODATI CSS ZA OVOO CUUCKOO -->
            <div class="handle--error--password"></div>
          </div>

          <div class="submit d-flex-center">
            <!-- DODATI CSS ZA OVOO CUUCKOO -->
            <button>Registriraj se</button>
          </div>

        </form>


      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="./js/formHandler.js"></script>

    <!-- ICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
