<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- GOOGLE -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
      content="914111657030-g40ppfst3gr183ckcjhcn0m8tdp4on4h.apps.googleusercontent.com"
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is Vehi Go rent a car made by two studenst of 4th grade of secondary school."
    />

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style/style.css" />
    <link rel="stylesheet" href="./css/style/general.css" />
    <link rel="stylesheet" href="./css/queries/queries.css" />

    <!-- ICON -->
    <link rel="icon" href="./images/brand/favicon.png" />
    <link rel="manifest" href="./images/brand/favicon.png" />
    <link rel="apple-touch-icon" href="./images/brand/favicon.png" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <title>VehiGo | Započnite prijavu!</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <section
        class="form--section sing-in--form container d-flex-center whitespace"
      >
        <form id="signinForm" class="form form--autentification d-flex-center">
          <h1 class="form--heading">&mdash; Prijavi se &mdash;</h1>

          <div class="sign-in--content">
            <input
              id="customer_email"
              name="customer_email"
              type="email"
              placeholder="Email adresa"
              class="form--input"
            />
            <!-- DODATI CSS ZA OVOO CUUCKOO -->
            <div class="handle--error--mail"></div>
          </div>

          <div class="sign-in--content">
            <input
              id="customer_password"
              name="customer_password"
              type="password"
              placeholder="Password"
              class="form--input"
            />
            <!-- DODATI CSS ZA OVOO CUUCKOO -->
            <div class="handle--error--password"></div>
          </div>

          <div class="submit d-flex-center">
            <!-- DODATI CSS ZA OVOO CUUCKOO -->
            <button class="form--button main--button">Prijavi se</button>
            <button class="form--button secondary--button">
              <a href="/signup">Nemas racun?</a>
            </button>
          </div>
        </form>
      </section>

      <script>
        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          console.log("ID: " + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log("Name: " + profile.getName());
          console.log("Image URL: " + profile.getImageUrl());
          console.log("Email: " + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
      </script>
      <%- include('../partials/footer.ejs') %>
      <script src="./js/signinFormHandler.js"></script>
    </main>

    <!-- ICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
