<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is Vehi Go rent a car made by two studenst of 4th grade of secondary school."
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style/style.css" />
    <link rel="stylesheet" href="/css/style/cars.css" />
    <link rel="stylesheet" href="/css/style/general.css" />
    <link rel="stylesheet" href="/css/style/singleCar.css" />
    <link rel="stylesheet" href="/css/queries/queries.css" />

    <!-- ICON -->
    <link rel="icon" href="/images/brand/favicon.png" />
    <link rel="manifest" href="/images/brand/favicon.png" />
    <link rel="apple-touch-icon" href="/images/brand/favicon.png" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <title>VehiGo | <%= car.car_model %> <%= car.car_brand %></title>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <section class="single--car--section container whitespace">
        <div class="active--car--image">
          <img
            src="/images/carsPage/bmwX6m.png"
            alt="This is the photo of active car"
          />
        </div>
        <div class="single--car-content">
          <p class="single--car--type">Sedan</p>
          <h1 class="secondary-heading">Bmw X6M</h1>
          <p class="single--car--year">Godina: <strong>2012</strong></p>
          <p class="single--car--price">40€/dan</p>

          <button class="reservation--button">Rezerviraj</button>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %>

    <!-- ICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
