/* BELOW 1152px
  BELOW 72em
*/

@media (max-width: 72em) {
  html {
    font-size: 56.25%;
  }

  .main--cars {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 0.5fr 0.1fr 0.2fr;
  }

  .models {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .car-image {
    grid-column: 1/-1;
  }
}

/* BELOW 944px 59em */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .features--boxes {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .features--box {
    max-width: 70%;
    justify-self: center;
  }

  .features--icon {
    width: 4.4rem;
    height: 4.4rem;
  }

  .features--heading {
    font-size: 3rem;
  }

  .hamburger--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.7rem;
  }

  .menu {
    position: absolute;
    
  }
}
