/* BELOW 1152px
  BELOW 72em
*/

@media (max-width: 72em) {
  html {
    font-size: 56.25%;
  }

  .main--cars {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 0.5fr 0.1fr 0.2fr;
  }

  .heading-desc {
    font-size: 2rem;
  }

  .heading-desc .strong {
    font-size: 6.4rem;
  }

  .note-description {
    font-size: 2rem;
  }

  .spec--icon {
    width: 4.4rem;
    height: 4.4rem;
  }

  .spec--desc {
    font-size: 3.6rem;
  }

  .bookBtn {
    font-size: 2rem;
    padding: 1.8rem 3.6rem;
  }

  .models {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .car-image {
    grid-column: 1/-1;
  }
}

/* BELOW 1088px 68em */

@media (max-width: 68em ) {
  
}

/* BELOW 944px 59em */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .features--boxes {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .features--box {
    max-width: 70%;
    justify-self: center;
  }

  .features--icon {
    width: 4.4rem;
    height: 4.4rem;
  }

  .features--heading {
    font-size: 3rem;
  }

  .hamburger--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    z-index: 1000000000;
  }

  .menu {
    position: absolute;
    top: 0;
    right: -100%;
    /* transform: translate(-50%, -50%); */
    background-color: var(--white-color-bright);
    backdrop-filter: blur(5px);
    min-height: 100vh;
    min-width: 30rem;
    z-index: 9999;
    display: flex;
    align-items: start;
    justify-content: center;
    transition: 0.4s all ease;
    padding-top: 12.8rem;
  }

  .active--hamburger {
    right: 0;
    transition: 0.4s all ease;
  }

  .hamburger--menu.active--menu .hamburger--line {
    background-color: var(--dark-color);
    transition: 0.4s all ease-in;
    min-height: 0.5rem;
  }

  .hamburger--menu.active--menu .line1 {
    transform: rotate(-45deg);
    position: absolute;
  }

  .hamburger--menu.active--menu .line2 {
    display: none;
  }

  .hamburger--menu.active--menu .line3 {
    transform: rotate(45deg);
  }

  .menu-links {
    flex-direction: column;
  }

  .menu-item:link,
  .menu-item:visited {
    white-space: nowrap;
    font-size: 3.2rem;
    color: var(--dark-color);
  }

  .single--car--section {
    flex-direction: column;
  }

  .active--car--image {
    align-self: center;
  }

  .signle--car--desc--container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .description--item {
    margin-left: 0;
  }
}

/* BELOW 744px 46em */

@media (max-width: 46em) {
  .main--cars {
    grid-template-columns: 1fr;
  }

  .services {
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .services-heading {
    font-size: 2.4rem;
  }

  .text--content {
    font-size: 2.4rem;
    padding: 0 4.4rem;
  }

  .first--img--services {
    margin-bottom: 9.8rem;
  }

  .second--img--services {
    grid-row: 4/5;
  }

  .first--paragraph {
    max-width: fit-content;
    padding: 0;
  }

  .second--paragraph {
    margin-bottom: 4.4rem;
  }

  .footer--aside {
    margin-top: 1.8rem;
  }

  .features--box {
    min-width: 100%;
  }

  .secondary-heading {
    font-size: 3.6rem;
  }
}

/* BELOW 627px 39em*/
@media (max-width: 39em) {
  .secondary-heading.cars--heading {
    font-size: 3rem;
    padding: 0 1.8rem;
    text-align: center;
  }
}

/* BELOW 512px 32em*/
@media (max-width: 32em) {
  .features--box {
    min-width: 100%;
  }

  .secondary-heading {
    font-size: 3rem;
  }

  .car-image {
    padding: 1.8rem;
  }

  .img--car {
    width: auto;
    height: 20rem;
    padding: 0;
  }

  .text--content {
    font-size: 1.6rem;
    padding: 0;
  }

  .first--img--services {
    margin-bottom: 3.2rem;
  }

  .services {
    row-gap: 3.2rem;
  }

  .services-content {
    align-items: start;
  }

  .services-heading {
    text-align: left;
  }

  .features--heading {
    text-align: left;
    font-size: 2.4rem;
  }

  .features--description {
    font-size: 1.6rem;
  }

  .features--icon {
    width: 3rem;
    height: 3rem;
  }

  .footer--nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
  }

  .arrow-icon {
    width: 4.4rem;
    height: 4.4rem;
  }
}

/* BELOW 416px 26em */
@media (max-width: 26em) {
  .secondary-heading.about--heading {
    text-align: center;
  }

  .ceo--img {
    max-width: 30rem;
    max-height: 30rem;
  }
}

/* BELOW 18em */
@media (max-width: 18em) {
  .secondary-heading.ceo--name {
    text-align: center;
  }

  .ceo--text {
    text-align: center;
  }
}