<aside class="side--navigation">
  <main class="side--navigation--content">
    <img src="/images/brand/whiteLogo.png" alt="Logo" class="logo--photo" />
    <h1 class="field--heading">Uređivač</h1>
    <ul class="side--navigation--items">
      <li class="navigation--list">
        <a href="/panel" class="navigation--item">
          <!-- <button class="navigation--item active--item"> -->
          <ion-icon
            name="car-sport-outline"
            class="side--navigation--icon"
          ></ion-icon>
          <p class="side--navigation--heading">Automobili</p>
          <!-- </button></a -->
        </a>
      </li>
      <li class="navigation--list">
        <a href="/panel-reservations" class="navigation--item">
          <!-- <button class="navigation--item"> -->
          <ion-icon
            name="calendar-outline"
            class="side--navigation--icon"
          ></ion-icon>
          <p class="side--navigation--heading">Rezervacije</p>
          <!-- </button></a -->
        </a>
      </li>
      <!-- <li>
            <a href="/panel-workers"><button class="navigation--item">
            <ion-icon
              name="calendar-outline"
              class="side--navigation--icon"
            ></ion-icon>
            <p class="side--navigation--heading">Zaposlenici</p>
          </button></a>
        </li> -->
    </ul>
    <h1 class="field--heading">Dizajn</h1>
    <ul class="side--navigation--items">
      <li class="navigation--list">
        <a class="navigation--item">
          <ion-icon
            name="color-filter-outline"
            class="side--navigation--icon"
          ></ion-icon>
          <p class="side--navigation--heading">Boje</p>
        </a>
      </li>
      <li class="navigation--list">
        <a class="navigation--item">
          <ion-icon
            name="text-outline"
            class="side--navigation--icon"
          ></ion-icon>
          <p class="side--navigation--heading">Fontovi</p>
        </a>
      </li>
    </ul>
    <div class="profile--container">
      <button class="profile--btn">
        <img
          src="/images/brand/profile.png"
          alt="Profile photo"
          class="profile--photo"
        />
        <p class="profile--name">Admin</p>
      </button>
      <button class="logout--admin">
        <a href="/logoutadmin">Odjava</a>
      </button>
    </div>
  </main>
</aside>
