/* 
  --Font
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  font-family: 'Roboto', sans-serif;
  --Spacing 
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  --Colors
  Primary: #3b474b

  Tints:
  Shades:
  -----------------
  Secondary:#fab005;
  Thertiry:

*/
:root {
  --color-primary-dark: #004d90;
  --color-primary: #1c7ed6;
  --color-secondary: #228be6;
  --color-tertiary: #eee;
  --backgroud-linear: linear-gradient(
    rgba(0, 0, 0, 1),
    rgb(60, 71, 75),
    rgb(98, 119, 125)
  );
  --main-liner-gradient: linear-gradient(
    to bottom right,
    #1c7ed6,
    #398bd2,
    #6ba0ce
  );
  --dark-color: #222;
  --smooth-dark: #0e1111;
  --light-color: #c6e4ff;

  --instagram-gradient: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  --facebook-gradient: linear-gradient(120deg, #3b5998, #fff);
  --twitter-gradient: linear-gradient(120deg, #36d8ff, #fff);

  --glass-effect: rgba(255, 255, 255, 0.2);
  --shadow-effect: rgba(0, 0, 0, 0.7);

  --white-color: #fff;
  --black-color: rgb(38, 43, 44);
  --danger-text: #9a0012;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scrollbar-color: var(--color-primary);
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 9px;
  transition: all 0.4s ease;
  box-shadow: 10rem 10rem 10rem var(--color-primary);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-dark);
}

html::-webkit-scrollbar-track {
  background-color: #222;
}

body {
  font-family: "Roboto", sans-serif;
  color: #f7f7f7;
  position: relative;
  background: var(--backgroud-linear);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 1000px inset rgba(0, 0, 0, 0.2);
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

::selection {
  background-color: var(--color-secondary);
  color: var(--dark-color);
}
.container {
  max-width: 130rem;
  margin: 0 auto;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-heading {
  font-size: 5.2rem;
  line-height: 1.05;
  font-weight: 700;
  color: #eee;
}

.secondary-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  letter-spacing: 0.5rem;
  color: var(--color-tertiary);
}

.secondary-heading-margin-btn {
  margin-bottom: 4.8rem;
}

.tertiary-heading {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 500;
  color: var(--color-secondary);
}

.subheading {
  display: block;
  text-transform: uppercase;
  color: var(--light-color);
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

.whitespace {
  padding-bottom: 9.8rem;
}

.grid {
  display: grid;
}

.grid--twoRows--twoColumns {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.hr {
  height: 0.1rem;
  background-color: var(--light-color);
  border-radius: 20%/50%;
  margin: 6.4rem auto 9.8rem auto;
}
.hr-home {
  max-width: 130rem;
}

.footer--nav {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  gap: 1.2rem;
}

/* *************FORM************ */

.form--section {
  padding-top: 6.4rem;
}

.form {
  min-width: 50rem;
  flex-direction: column;
  gap: 3rem;
  border-radius: 11px;
  background-color: var(--white-color);
}

.form--autentification {
  padding: 4.4rem;
}

.sign-in--content {
  min-width: 100%;
  display: flex;
  align-items: start;
  justify-content: left;
  flex-direction: column;
  gap: 1rem;
}

.form--heading {
  font-size: 2.4rem;
  display: block;
  text-align: center;
  font-weight: 700;
  color: var(--color-primary-dark);
}

.form--input {
  min-width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid var(--glass-effect);
  transition: 0.1s all ease;
  font-size: 1.8rem;
  color: var(--color-primary-dark);
  padding-bottom: 1rem;
  border-bottom: 0.3rem solid var(--color-primary-dark);
}

.form--input::placeholder {
  font-size: 1.6rem;
  font-weight: 300;
}

.form--input:focus {
  outline: none;
}

.submit {
  min-width: 100%;
  gap: 1.2rem;
  flex-direction: column;
}

.form--button {
  border: none;
  border-radius: 5px;
  padding: 1.4rem 2.8rem;
  min-width: 100%;
}

.main--button {
  text-transform: uppercase;
  color: var(--color-tertiary);
  background-color: var(--color-primary-dark);
}

.secondary--button {
  background-color: transparent;
  text-decoration: underline;
}

.handle--error {
  display: none;
  color: var(--danger-text);
}

.handle--error--password {
  color: var(--danger-text);
}

.handle--error--mail {
  color: var(--danger-text);
}

input[type="date"] {
  border: 0.3rem solid var(--color-primary);
  outline: none;
  padding: 0.5rem;
  border-radius: 9px;
  text-transform: uppercase;
  background-color: var(--white-color);
  color: var(--color-primary);
  font-weight: 700;
}

::-webkit-calendar-picker-indicator {
  background-color: var(--white-color);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

/* 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
