* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: var(--smooth-dark);
}

.admin--panel {
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
  grid-template-rows: 1fr;
}

.side--navigation {
  height: 100vh;
  background-color: var(--full-dark);
  /* padding-left: 3rem; */
  display: flex;
  justify-content: center;
}

.side--navigation--content {
  padding-top: 4.4rem;
}

.logo--photo {
  width: 25.8rem;
  height: auto;
  margin-bottom: 1.8rem;
}

.field--heading {
  padding-left: 1.8rem;
  font-size: 2.4rem;
  color: var(--white-color);
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}

.side--navigation--items {
  padding-left: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.side--navigation--items .navigation--item {
  padding: 1.4rem 0.7rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.2rem;
  min-width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.side--navigation--items .navigation--item:hover,
.side--navigation--items .navigation--item:visited,
.side--navigation--items .navigation--item:active {
  background-color: var(--color-primary);
}

.side--navigation--items .navigation--item.active--item {
  background-color: var(--color-primary);
}

.side--navigation--items .navigation--item .side--navigation--icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--white-color);
}

.side--navigation--items .navigation--item .side--navigation--heading {
  font-size: 2.4rem;
  color: var(--white-color);
  font-weight: 400;
}

.side--navigation .profile--btn {
  margin-top: 25rem;
  min-width: 100%;
  padding: 1.4rem 0.7rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: left;
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
}

.side--navigation .profile--btn .profile--photo {
  width: 3.7rem;
  height: 3.7rem;
}

.side--navigation .profile--btn .profile--name {
  font-size: 2.4rem;
  color: var(--white-color);
  font-weight: 300;
}

.profile--container {
  position: relative;
}

.logout--admin {
  position: absolute;
  min-width: 100%;
  background-color: var(--white-color);
  color: var(--full-dark);
  font-size: 1.8rem;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 9px 9px 0 0;
  top: -0.2rem;
  opacity: 0;
  user-select: none;
  visibility: hidden;
  transition: 0.4s all ease;
}

.logout--admin.logout {
  opacity: 1;
  user-select: auto;
  visibility: visible;
  top: -2.7rem;
}

.content--admin {
  background-color: var(--full-dark);
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 4.4rem;
}

.content--admin::-webkit-scrollbar {
  width: 0.5vw;
}

.content--admin::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 5rem;
}

.content--admin .admin--sections {
  padding-top: 6.4rem;
  padding-left: 9.8rem;
}

.content--admin .admin--sections .section--heading {
  font-size: 4.4rem;
  color: var(--white-color);
  margin-bottom: 4.4rem;
}

.content--admin .admin--sections .form--admin--cars {
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  row-gap: 1.8rem;
  column-gap: 1.8rem;
}

.form--input--admin {
  border: none;
  border-radius: 5px;
  padding-left: 1.2rem;
  font-size: 1.8rem;
}

.form--input--admin::placeholder {
  font-size: 1.8rem;
  color: var(--full-dark);
  font-weight: 300;
}

.form--submit--admin {
  grid-column: 1/-1;
  background-color: var(--color-primary);
  color: var(--white-color);
  font-size: 1.8rem;
  padding: 1.4rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form--url--input {
  grid-row: 6/8;
  grid-column: 2/3;
}

.admin--section {
  display: block;
}

.admin--section.active--section {
  display: block;
}

/* TABLE Reservation */
.table--reservation--admin {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid var(--white-color);
}

.table--reservation--admin td,
th {
  text-align: center;
  padding: 1.8rem;
  border: 0.1rem solid var(--white-color);
}

.table--reservation--admin tr:nth-child(even) {
  background-color: var(--smooth-dark);
}

.form--admin--upload--image {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 2rem;
  max-width: 70%;
}

.upload--image {
  min-width: 100%;
  padding: 9.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.8rem;
  border: 0.2rem dotted var(--white-color);
  border-radius: 9px;
  cursor: pointer;
}

.input--image {
  display: none;
}

.upload--text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.75px;
}

.upload--icon {
  width: 2.4rem;
  height: 2.4rem;
}

.submit--image {
  min-width: 100%;
  padding: 0.7rem 0.35rem;
  font-size: 1.8rem;
  background-color: var(--white-color);
  color: var(--full-dark);
  border: none;
  border-radius: 7px;
}
