.single--car--section {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 3.2rem;
}

.active--car--image {
  padding: 2rem;
  border-radius: 9px;
}

.single--car--type {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0.3rem;
  border-radius: 9px;
  font-size: 1.2rem;
  font-weight: 700;
  max-width: 30%;
}

.single--car-content {
}

.reservation--button {
  height: 100%;
}
